<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="tourfirmEntities" connectionString="metadata=res://*/BaseModel.csdl|res://*/BaseModel.ssdl|res://*/BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7ERRGUH0\SQLEXPRESS;initial catalog=tourfirm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>